.login-wrapper {
  align-items: center;
  height: 100vh;
}

.login-wrapper h3 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 47px;
  color: var(--primary-color);
  margin: 15px 0;
}

.login-wrapper h5 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #4e6e81c0;
  margin-bottom: 25px;
}

.login-wrapper p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-top: 22px;
  color: #03014c;
  letter-spacing: 0.3px;
  text-align: center !important;
  width: 80%;
}

.login-wrapper p a {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  cursor: pointer;
}

TextField {
  font-family: var(--tertiary-font) !important;
}

.login-innerLeft img {
  width: 85%;
}

.login-wrapper button {
  width: 80% !important;
  margin-top: 25px;
  background: #4e6e81;
  padding: 12px 0 !important;
  font-family: var(--tertiary-font);
  letter-spacing: 1.2px;
}

.login-wrapper button:hover {
  background: #4e6e81;
}

.TextFields {
  width: 80% !important;
  margin: 20px 0 !important;
  justify-content: end;
}

.password-inner {
  position: relative;
}

.password-eyeIcon {
  position: absolute;
  top: 50%;
  right: 25%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.password-eyeIcon svg {
  font-size: 20px;
}

.inputError {
  font-size: 14px;
  color: var(--error-color);
  font-weight: 400;
  font-family: var(--tertiary-font);
}

.avator {
  width: 70px;
  padding: 5px;
  height: 70px;
  background: #4e6e81;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avator img {
  width: 100%;
}

/* Authentication */

.authentication {
  display: flex;
  gap: 14px;
}

/* Google Authentication */

.googleAuth {
  border: thin solid #03014c75;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  width: 140px;
  justify-content: center;
  padding: 20px 10px;
  align-items: center;
  cursor: pointer;
}

.googleAuth .authGoogle-logo {
  padding-right: 15px;
}

.googleAuth .authGoogle-text {
  color: #03014C;
}

.googleAuth .authGoogle-text h4 {
  font-family: var(--secondary-font);
}

/* Facebook Authentication */

.facebookAuth {
  border: thin solid #03014c75;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  width: 140px;
  justify-content: center;
  padding: 20px 10px;
  align-items: center;
  cursor: pointer;
}

.facebookAuth .authFacebook-logo {
  padding-right: 15px;
}

.facebookAuth .authFacebook-logo img {
  height: 20px;
  width: 20px;
}

.facebookAuth .authFacebook-text {
  color: #03014C;
}

.facebookAuth .authFacebook-text h4 {
  font-family: var(--tertiary-font);
}

/* Facebook Authentication */

.facebookAuth {
  border: thin solid #03014c75;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  width: 140px;
  justify-content: center;
  padding: 20px 10px;
  align-items: center;
  cursor: pointer;
}

.facebookAuth .authFacebook-logo {
  padding-right: 15px;
}

.facebookAuth .authFacebook-logo img {
  height: 20px;
  width: 20px;
}

.facebookAuth .authFacebook-text {
  color: #03014C;
}

.facebookAuth .authFacebook-text h4 {
  font-family: var(--tertiary-font);
}

/* Twitter Authentication */

.twitterAuth {
  border: thin solid #03014c75;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  width: 140px;
  justify-content: center;
  padding: 20px 10px;
  align-items: center;
  cursor: pointer;
}

.twitterAuth .authTwitter-logo {
  padding-right: 15px;
}

.twitterAuth .authTwitter-logo img {
  height: 30px;
  width: 30px;
}

.twitterAuth .authTwitter-text {
  color: #03014C;
}

.twitterAuth .authTwitter-text h4 {
  font-family: var(--tertiary-font);
}

/* Github Authentication */

.githubAuth {
  border: thin solid #03014c75;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  width: 140px;
  justify-content: center;
  padding: 20px 10px;
  align-items: center;
  cursor: pointer;
}

.githubAuth .authGithub-logo {
  padding-right: 15px;
}

.githubAuth .authGithub-logo img {
  height: 30px;
  width: 30px;
}

.githubAuth .authGithub-text {
  color: #03014C;
}

.githubAuth .authGithub-text h4 {
  font-family: var(--tertiary-font);
}